*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
:root{
    --light:#f8f9fa;
}
body{
    min-height: 100vh;
}
#header{
    width: 100%;
}
.container{
    padding: 0 30px ;
}
.warper{
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-item > img{
    width: 100px;
  height: 100px;
  object-fit: contain;
}
.nav-item:nth-child(3){
    display: flex;
   gap: 10px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subnav{
    height: 40px;
    font-size: 14px;
    margin: 10px 0;
}

.subnav li {
    display: inline-block;
    margin: 0 20px;
}

.subnav-item > a{
    font-size: 20px;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color:black;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.subnav-item > a:hover{
    box-shadow: inset 100vw 0 0 0 #000000;
    color: white;
}

.announcement-bar{
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0;
    width:100%;
    position: relative;
    margin-top:10px ;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    justify-items: center;
}

.announcement-slider{
    width: 100%;
    color: white;
    white-space: nowrap;
    transition:  all 3000ms ease-out;
    transform: translate3d(-000%,0,0);
    text-align: center;
   
}

.announcement__slider--title{
   width: 100%;
   display: inline-block;
}

#toggle-icon{
    color: white;
    position: absolute;
    left: 30px;
    font-size: 30px;
    display: flex;
    align-items: center;
    display: none;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
}
@media (max-width:650px) {
    .store-locator{
        display: none;
    }
    #toggle-icon{
        display: block;
    }
    .subnav{
        position: fixed;
        width: 100%;
        top:150px;
        background-color: white;
        opacity: 0.8;
        text-align: center;
        display:flex;
        align-items:center;
        flex-direction:column;
        height: fit-content;
        margin: 0;
        gap: 5px;
        left: -100%;
        transition: all .5s;
    }
    .subnav li {
        width: 100%;
        padding: 10px 0;
        border-bottom: solid 1px;
        
    }
    .subnav li a{
        display: block;
        font-size: 20px;
    }

}

.show {
    left: 0;
}
.store-locator{
    position:absolute ;
    top: 50%;
    right:0;
    padding-right: 30px;
  transform: translateY(-50%);
  background-color: #000000;
}