@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');
* {
    box-sizing: inherit;
}
html {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.oswald-font{
  font-family: 'Oswald', sans-serif;
}
.main-content__header{
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 30px;
  text-align: center;
}
.board-content{
  display: flex;
  justify-content: center;
  border: #C4C4C4 1px solid;
  margin: 0px 250px;
  padding: 70px 100px;
  align-items: baseline;
}
.board-content__tab{
  float: left;
  width: 35%;
}
.board__infor{
  float: right;
  width: 65%;

}
.title-infor{
    font-size: 18px;
}
.board-content__tab button {
  display: block;
  color: #828282;
  background-color: #fff;
  width: 80%;
  border: none;
  outline: none;
  padding: 14px 16px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
}
.board-content__tab button:hover{
  background-color: #F0F2F2;
}
.board-content__tab button.active{
  color: white;
  background-color: #828282;
}
.board__infor.active{
  display: block;
}
.note-infor{
    color: #828282;
    font-size: 12px;
}
.btn-infor{
    font-weight: bold;
    line-height: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #E6F1FA;
}
.btn-infor a{
  text-decoration: none;
  color: black;
  
}
.btn-infor a:hover{
  color: rgb(32, 232, 21);
}
.broad--acc{
    padding-bottom: 30px;
}
.flex-infor__child{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:1250px) {
  .board-content{
    padding: 70px 0px;
  }
}
@media screen and (max-width:1040px) {
  .board-content{
    margin: 0px 100px;
  }
}
@media screen and (max-width:768px) {
  .main-content__header{
    padding: 0;
  }
  .board-content{
    flex-direction: column;
    margin: 0px 20px;
    border: none;
  }
  .board-content__tab{
    width: 100%;
  }
  .board-content__tab button{
    display: block;
    width: 100%;
  }
  .board-content__tab button~.tablinks{
    display: none;
  }
  .board__infor {
    width: 100%;
  }
  .flex-infor__child{
    flex-direction: column;
}
}

