.main-content {
    display: block;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    background: #F0F2F2;
    border: 2px solid #C4C4C4;
    margin-top: 50px;
    padding-bottom: 30px;
    margin-left: 14px;
    margin-right: 14px;
}

.main-content-header {
    margin: 15px 14px 15px 14px;
    font-family: 'Oswald';
    font-style: normal;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
}

.main-detail {
    margin-top: 20px;
    margin-left: 14px;
    margin-right: 14px;
}

.grid-det {
    display: grid;
    grid-template-columns: 25% 45% 20%;
    gap: 5px;
}

.list-items-0 {
    grid-area: 1 / 1 / span 4 / span 1;
    align-items: center;
    margin-right: 10px;
}

.list-items-1 {
    grid-area: 1 / 2 / span 2 / span 1;
    padding-right: 10px;
}

.list-items-2 {
    grid-area: 3 / 2 / span 1 / span 1;
}

.list-items-3 {
    grid-area: 4 / 2 / span 1 / span 1;
}

.list-items-4 {
    grid-area: 1 / 3 / span 1 / span 1;
    text-align: right;
}


.main-content-header-note {
    margin: 15px 14px 15px 14px;
    font-family: 'Oswald';
    font-style: normal;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #828282;
}

.sub-content-header {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Oswald';
    font-style: normal;
    align-items: center;
    text-transform: uppercase;
    color: #828282;
}

.sub-content-info {
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: 'Roboto';
    font-style: normal;
    align-items: center;
}

.sub-content {
    display: block;
    border-left: none;
    border-right: none;
    margin-left: 14px;
    margin-right: 14px;
}

.item2 {
    width: 100%;
    border: 1px solid #c4c4c4;
}

em {
    color: #EB5757;
}

.password-hover {
    display: block;
    border: 0px none;
    background: #F0F2F2;
    color: #828282;
    padding-top: 5px;
    padding-bottom: 5px;
}

.password-hover p {
    margin-left: 8px;
}

.sub-content input{
    padding-top: 5px;
    padding-bottom: 5px;
}

.sub-content-note {
    color: #828282;
    text-align: center;
}

.bt1 {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
    margin-top: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.bt2 {
    width: 100%;
    background-color: #ffffff;
    color: #0F6DB1;
    border: 1px solid #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 8px;
    font-family: 'Roboto';
    font-style: normal;
    text-decoration: underline;
}

.sub-content-button button{
    margin-bottom: 20px;
}

.cross {
    margin-bottom: 30px;
}

.item-input {
    margin-top: 4px;
    font-family: 'Roboto';
    font-style: normal;
    align-items: center;
    text-transform: uppercase;
    color: #3F3F3F;
}

.sub-content-radio {
    display: block;
    border-bottom: 2px solid #F0F2F2;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.bt3 {
    float: left;
    width: 50%;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
    margin-top: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.bt4 {
    float: left;
    width: 50%;
    background-color: #ffffff;
    color: #828282;
    border: 1px solid #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 8px;
    font-family: 'Roboto';
    font-style: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: right;
}

@media (min-width: 768px) {
    .content-header p {
        margin-top: 4px;
        margin-bottom: 4px;
        margin-left: auto;
        margin-right: auto;
    }

    .sub-content {
        position: absolute;
        width: 35%;
        left: 10%;
        display: block;
        margin-top: 50px;
    }

    .main-content{
        position: absolute;
        width: 35%;
        right: 10%;
        display: block;
        margin-top: 100px;
    }

    .sub-content-header p {
        margin-top: 50px;
        color: #000000;
    }

    .sub-content-note {
        text-align: left;
    }

    .bt1 {
        float: left;
        width: 20%;
    }

    .bt2 {
        float: left;
        width: 35%;
    }

    .part {
        display: grid;
        grid-template-columns: 25% 15% 15% 15% 15% 15%;
    }

    .item1 {
        grid-area: 1 / 1 / span 1 / span 1;
    }

    .item2 {
        grid-area: 1 / 2 / span 1 / span 5;
    }

}