@font-face {
  font-family: 'Oswald';
  src: url('../font/Oswald-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/RobotoCondensed-Regular.ttf');
}


/* product */
.product {
  width: 85%;
  height: fit-content;
  font-family: 'Oswald';
  margin: auto;
}
.container {
  display: grid;
  padding-top: 0.3em;
  grid-template-areas:
    'a b c d'
    'a i i d'
    'f f f f';
  gap: 1.2rem;
  padding: 0.6rem;
}

.Img_modal{
  grid-area: b;
}
#myImg {
  padding-top: 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 6.2rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9);
}


.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 44rem;
}


#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 44rem;
  text-align: center;
  color: #ccc;
  padding: 1.6rem 0;
  height: 9.3rem;
}

.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}


.close {
  position: absolute;
  top: 1rem;
  right: 2.2rem;
  color: #f1f1f1;
  font-size: 2.5rem;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.tx {
  grid-area: c;
}

.product-content-right-1 {
  grid-area: c;
  margin-top: 2.5rem;
}

.product-content-right-2 {
  grid-area: d;
}

ul.breadcrumb {
  padding: 0.6rem 0.6rem;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li+li:before {
  padding: 0.5rem;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

p.fendi {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  background-color: #bdbdbd;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  margin: 0 0.6rem;
  font-weight: bolder;
}

.select-size {
  width: 50%;
}

.Size-quide {
  width: 50%;
  text-align: right;
}

.fendi {
  margin: 0 0.6rem;
}

.product-content-right-select-size {
  margin: 0 0.6rem;
}

.product-content-right-select-size-text{
  margin-top: 1.25rem;
}

.custom-select-size {
  display: block;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  border-radius: 0em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom,#ffffff 0%,white 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
.custom-select-size::-ms-expand {
  display: none;
}
.custom-select-size:hover {
  border-color: rgba(34, 34, 34, 0.341);
}
.custom-select-size:focus {
  border-color: rgba(34, 34, 34, 0.341);
  box-shadow: 0 0 1px 3px rgba(233, 236, 240, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222; 
  outline: none;
}
.custom-select-size option {
  font-weight:normal;
}

.product-content-right-select-size-text {
  margin: 0 0.6rem;
}

.product-content-right-price {
  margin-left: 2.5rem;
}

.product-content-right-button-added {
  margin-left: 0.6rem;
}

.size {
  display: grid;
  column-gap: 0.3rem;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  padding: 0.3rem;
}

.size span {
  padding: 0.2rem 0.4rem;
  border: 1px solid black;
  margin-bottom: 0.6rem;
  cursor: pointer;
  text-align: center;
}

.price {
  font-size: 1.5rem;
} 

.buttons_added {
  opacity: 1;
  display: inline-block;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
  vertical-align: top;
  margin-top: 0.5rem;
}

.is-form {
  overflow: hidden;
  position: relative;
  background-color: #f9f9f9;
  height: 1.4rem;
  width: 1.2rem;
  padding: 0;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #ddd;
}

.is-form:focus,
.input-text:focus {
  outline: none;
}

.is-form.minus {
  border-radius: 0.25rem 0 0 0.25rem;
}

.is-form.plus {
  border-radius: 0 0.25rem 0.25rem 0;
}

.input-qty {
  background-color: #fff;
  height: 1.4rem;
  text-align: center;
  font-size: 0.6rem;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  padding: 0;
}

.input-qty::-webkit-outer-spin-button,
.input-qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn1 {
  margin: 0.6rem;
  border: 2px solid black;
  background-color: black;
  color: black;
  padding: 0.9rem 5rem;
  cursor: pointer;
}

.btn2 {
  margin: 0.6rem;
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 0.9rem 6.5rem;
  cursor: pointer;
}

.bag {
  border-color: black;
  color: white;
}

.bag:hover {
  background-color: black;
  color: white;
}

.save {
  border-color: gainsboro;
  color: black;
}

.save:hover {
  background-color: white;
  color: black;
}

.save {
  margin-left: 1.6rem;
}

.btn {
  border: 2px solid black;
  background-color: black;
  color: black;
  padding: 0.3rem 0.3rem;
  cursor: pointer;
  float: right;
}

.contact {
  border-color: black;
  color: white;
}

.contact:hover {
  background-color: black;
  color: white;
}

.product-content-bottom {
  grid-area: i;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 0.3rem;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 1.1rem;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel {
  display: grid;
  gap: 0.6rem;
  padding: 0.6rem;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
}

.grid-item ul li {
  list-style-type: none;
}

.panel-content-1 {
  grid-column: 1 / span 1;
  grid-row: 1;
}

.panel-content-2 {
  grid-column: 1;
  grid-row: 2 / span 1;
}

.panel-content-3 {
  grid-column: 1;
  grid-row: 3 / span 1;
}

.panel-content-4 {
  grid-column: 2;
  grid-row: 1 / span 3;
}

.panel h2 {
  font-weight: bold;
}

.product-content-tx>p{
  margin-left: 0.6rem;
}
.product_also{
  grid-area: f;
}
.content__item-x5{
  display:  grid;
  column-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  padding: 30px 20px;
}
.item__x5{
  display: grid;
  width: 100%;
  height: 100%;
}
.content__text{
  display: flex;
  font-size: 1.25rem;
}
.text_first{
  color: #c4c4c4;
}
.text__boder{
  font-weight: bold;
}

@media (max-width: 768px) {
  .product{
    width: 100%;
  }
  .container {
    display: grid;
    grid-template-areas:
      'b'
      'a'
      'c'
      'i'
      'd'
      'f';
    gap: 1rem;
    padding: 1rem;
  }

  .tx {
    grid-area: b;
  }

  .product-content-right-1 {
    grid-area: c;
    margin-top: 0;
  }
  
  .product-content-right-name {
    display: grid;
    column-gap: 0.6rem;
    grid-template-areas: 'm n';
  }

  .heding {
    grid-area: m;
  }

  .fendi {
    grid-area: n;
  }

  p.fendi {
    padding: 0.3rem 0.6rem;
    background-color: #bdbdbd;
    text-align: center;
    margin: 0;
  }

  .price-total {
    display: none;
  }
  .product-content-right-select-size-text{
    margin-top: 1.25rem;
  }
  
  .custom-select-size {
    display: block;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom,#ffffff 0%,white 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }
  .custom-select-size::-ms-expand {
    display: none;
  }
  .custom-select-size:hover {
    border-color: rgba(34, 34, 34, 0.341);
  }
  .custom-select-size:focus {
    border-color: rgba(34, 34, 34, 0.341);
    box-shadow: 0 0 1px 3px rgba(233, 236, 240, 0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
  }
  .custom-select-size option {
    font-weight:normal;
  }
  
  .product-content-right-button-add-bag{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.25rem;
  }
  .btn1 {
    margin: 0.6;
    border: 2px solid black;
    background-color: black;
    color: black;
    padding: 0.9rem 3.1rem;
    cursor: pointer;
  }
  
  .btn2 {
    margin: 0.6;
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 0.9rem 3.1rem;
    cursor: pointer;
  }
  .bag {
    border-color: black;
    color: white;
  }
  
  .bag:hover {
    background-color: black;
    color: white;
  }
  
  .save {
    border-color: gainsboro;
    color: black;
  }
  
  .save:hover {
    background-color: white;
    color: black;
  }
  
  .save {
    margin-left: 1.6rem;
  }
  .content__item{
    display: grid;
    padding: 0px 1.25rem;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 0.5fr 0.5fr 0fr 0fr 0.5fr 0.2fr 0fr 0fr 0.2fr 0fr;
  }
}
