@font-face {
  font-family: 'Oswald';
  src: url('../font/Oswald-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url('../font/RobotoCondensed-Regular.ttf');
}
.banner {
  width: 100%;
  height: fit-content;
  font-family: 'Oswald';
}
.banner__content {
  padding-top: 0.3em;
  display: grid;
  gap: 1em;
  grid-template-areas: 
  'i'
  'c'
  'b'
  ;
  width: fit-content;
  text-align: center;
}
.banner__content_img {
    grid-row: i;
  width: 250px;
  aspect-ratio: 1 / 1.5;
  margin-left: auto;
  margin-right: auto;
}
.banner__content_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner__img {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.banner__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner__content_text {
    grid-row: c;
  font-weight: var(--fw-primary);
  padding-inline: 1em;
  text-transform: uppercase;
}
.banner__content_text > span {
  -webkit-text-stroke: 0.1px salmon;
}

.banner__content_button {
    grid-row: b;
  text-align: center;
  color: black;
  height: fit-content;
  width: fit-content;
  text-decoration: none;
  padding: 0.5em 3em;
  border: 2px solid black;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.brands-selection {
  margin-top: 1em;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 80px);
  gap: 14px;
}
.brands-selection__item {
  width: 100%;
  border: 2px solid #c4c4c4;
}
.brands-selection__item > img {
  width: 100%;
  height: 100%;
}

.advertisement {
  display: grid;
  gap: 14px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 140px);
}
.advertisement__item_content{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.span-row-2 {
  grid-row: span 2;
}
.bg-light {
  background-color: seashell;
}
.bg-light-1 {
  background-color: salmon;
}
.bg-light-2 {
  background-color: burlywood;
}
.advertisement__item {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Oswald';
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.advertisement__item_img {
  width: 50%;
  height: 100%;
}
.brands-selection > *:hover{
  border-color: red;
}
.advertisement__item_button {
  text-align: center;
  margin-top: 8px;
  width: fit-content;
  padding: 1em 3em;
  border: 2px solid black;
  transition: all ease-in-out 700ms;
}

.advertisement__item :hover  .advertisement__item_button  {
  background-color: black;
  color: white;
} 
.product-section{
  padding-top: 1em;
  padding-bottom: 1em;
}
.gridProduct{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-auto-rows: 1fr;
  gap: 1em;
}
.gridProduct__card{
  width: 100%;
  height: 100%;
  transition: transform .2s;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  display: flex;
  flex-direction: column;
}
.gridProduct .gridProduct__card:hover {
  transform: scale(1.15);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.gridProduct__card_content{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  align-content: space-between;
}

.gridProduct__card_content--title{
  flex: 1;
}

@media (min-width: 768px) {
  .banner__content {
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    'c c i i'
    'b b i i';
    text-align: left;
  }
  .banner__content_text{
    grid-column: c;
    width: 100%;
    padding-right: 0;
  }
  .banner__content_button{
    grid-column: b;
    display: flex;
    align-items: center;
  }
  .banner__content_img{
    grid-column: i;
    width: 300px;
    grid-row: span 2;
  }
  .brands-selection{
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
  }
  .advertisement{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    '1 2'
    '3 2';
    grid-template-rows: 300px;
  }
  .gridProduct{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1.5em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1180px) {
	.gridProduct{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2em;
  }
}
