@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: inherit;
}
html {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px 15%;
}

.main__footer--bottom {
    text-align: center;
}
ul.breadcrumb {
    padding: 10px 10px;
    list-style: none;
}
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 5px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.main__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 0px;
}

.check__order {
    margin-right: 20px;
}
#order__header {
    border: #C4C4C4 2px solid;
    display: none;
    background-color: #F0F2F2;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.btn-view__Detail {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.total-order {
    display: flex;
}

.total {
    font-weight: bold;
    padding-right: 5px;
}

.seeDetail {
    text-decoration: underline;
}
.seeDetail:hover {
    color: tomato;
}
.content--nomal {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #828282;
}

.Order__infor {
    padding: 40px;
    background-color: #F0F2F2;
    border: #C4C4C4 2px solid;
}

.infor-flex {
    margin: 10px 0px;
}
#close {
    float: right;
    font-size: 45px;
    font-weight: bold;
    display: none;
}
  
#close:hover,
#close:focus {
    color: #01447e;
    text-decoration: none;
    cursor: pointer;
}

.titel-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content--bold{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.font-bold {
    font-size: 20px;
    font-weight: bold;
}
.link__check {
    color: #828282;
}

.cb-infor {
    display: flex;
}

.cb-txt{
    padding-left: 20px;
}
.content--infor {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #828282;
}

.txt-infor {
    padding-left: 20px;
}
.content--infor:focus{
    outline: none;
}

.btn-infor {
    display: flex;
    justify-content: space-between;
}
.infor-txt {
    margin-left: 15px;
    margin-bottom: 50px;
}

.phone {
    color: #0F6DB1;
    font-weight: bold;
}
.btn-infor {
    margin-bottom: 50px;
}
.btnOk {
    background-color: black;
    padding: 10px;
    color: white;
    font-size: 11px;
}
.btnBack {
    background-color: white;
    padding: 5px;
    color: #828282;
    font-size: 11px;
    border: none;
}

.code-discount {
    display: flex;
    justify-content: space-between;
    border: #C4C4C4 1px solid;
    padding: 5px;
}

#txt-code {
    padding-left: 20px;
    border: none;
    width: 85%;
}

.btn-code {
    background-color: white;
    padding: 5px;
    color: #3F3F3F;
    font-weight: bold;
    font-size: 13px;
    border: none;
}

.infor-flex {
    display: flex;
    justify-content: space-between;
}

.collapsible {
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #C4C4C4;
}

.collapsible:after {
    content: '\002B';
    color: #828282;
    font-weight: bold;
    font-size: 20px;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}

.item__cart {
    max-height: 0;
    overflow: auto;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
.item__infor {
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    height: 150px;
    justify-items: end;
}
.infor-item {
    padding: 0px 15px;
}

.img-item {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.infor-add {
    font-family: 'Roboto', sans-serif;
}

.txt-infor-item {
    padding-left: unset;
}

.check__order--infor {
    margin: 30px 0px;
}
@media screen and (max-width: 768px) {
    .main {
        padding: unset;
        width: 100%;
    }

    .main__content {
        display: flex;
        flex-direction: column-reverse;
        padding: 0px 5%;
    }

    .price-total {
        color: #828282;
    }
    #order__header {
        margin: unset;
        display: block;
        width: 100%;
        padding: unset;
        text-align: left;
        background-color: #F0F2F2;
        border: #C4C4C4 2px solid;
    }
    .content__order {
        display: none;
        background-color: #fefefe;
        margin: 0px 5%;
        padding: 0;
        position: absolute;
        max-height: 80%;
        overflow: auto;
        width: 80%;
        overflow: scroll;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    check__order--infor {
        margin: 30px 0px;
    }
    .Order__infor {
        padding: 10px 30px;
        border: unset;
        background-color: white;
    }

    .check__order--infor {
        padding-left: 30px;
    }
    #close {
        display: block;
    }

    @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0} 
        to {top:0; opacity:1}
    }
      
    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }
}