@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
ul.breadcrumb {
  padding: 10px 10px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 5px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.first_text{
  font-family: 'Oswald', sans-serif;
  color: #c4c4c4;
  padding: 5px 0;
  text-align: center;
}
.banner {
  width: 100%;
  height: fit-content;
  font-family: 'Oswald', sans-serif;
}
.banner_img {
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}
.text_content {
  font-size: 30px;
  background-color: #fff;
  padding-inline: 1em;
}

.content__item {
  margin: 0px 5%;
}
.banner_img > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  #text__1{
    font-family: 'Roboto', sans-serif;
    padding-right: auto;
  }
  #text__2{
    font-family: 'Roboto', sans-serif;
  }

@media (min-width: 768px) {
  .gridProduct {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5em;
  }

  .content__item{
    display: grid;
    padding: 30px 0px;
    gap: 60px;
    grid-template-columns: 0.3fr 1.2fr 0.8fr 0.1fr;
    grid-template-rows: repeat(3,1fr);
  }
  .item__img>img{
    display: grid;
  }
  .content__item-x5{
    display:  grid;
    column-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    padding: 30px 20px;
  }
  .item__x5{
    display: grid;
    width: 100%;
    height: 100%;
  }
  .content__text{
    display: flex;
    font-size: 20px;
  }
  .text_first{
    color: #c4c4c4;
  }
  .text__boder{
    font-weight: bold;
  }
}

.gridProduct__card {
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  display: flex;
  flex-direction: column;
}

.gridProduct__card_content--title {
  flex: 1;
}
.gridProduct__card_content--title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-section {
  padding-top: 1em;
  padding-bottom: 1em;
}
.gridProduct {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 1em;
}
.gridProduct .gridProduct__card:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.gridProduct__card_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  align-content: space-between;
}

.gridProduct__card_content--price {
  display: flex;
  padding-inline: 5x;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .gridProduct {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5em;
    margin-bottom: 50px;
  }
}

