
.nav-bar{
    font-family: 'Oswald';
    font-size: 18px;
    padding-top: 1em;
    padding-bottom: 1em ;
    background-color: black;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.bar__logo{
   width: fit-content;
}
.nav-bar__menu{
    position: absolute;
    width: 100%;
    top: 100%;
    transition: all ease-in-out 500ms;
    z-index: 5;
}
.nav-bar__items{
    width: 100%;
    height: 50px;
    position: relative;
}
.nav-bar__items-item{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    left: -100%;
    z-index: 8;
    transition: all ease-in-out;
}
.nav-bar__logo{ 
    color: white;
}
.nav-bar__items-item{
    text-align: center;
    padding: 0.5em;

}
.nav-bar__items-item > a{
    color: white;
    text-decoration: none;
}

.nav-bar--open {
   left:0% !important;
}
.nav-bar__icon{
    color: white;
    margin-left: 1.5em ;
    font-weight: 600;
}
.nav-bar__menu_feature{
    color: white;
    display: flex;
    gap: 1em;
}
.nav-bar__items-item > button {
    padding-inline: 1em;
    background-color: white;
}
@media (min-width: 768px){
    .nav-bar{
        z-index: 8;
    }
    .nav-bar__toggleButton{
        display: none;
    }
    .nav-bar__menu{
        position: unset;
    }
    .nav-bar__items{
        display: flex;
        position: unset;
        gap: 2em;
        align-items: center;
        height: 100%;
        justify-content: end;
    }
    .nav-bar__items-item{
        display: block;
        position: unset;
        padding: 0;
        margin: 0;
        width: fit-content;
        /* background-color: unset; */
    }
    .nav-bar__items-item > a{
        color: white !important;
    }

    .nav-bar__menu_feature{
        padding-inline: 1em;
    }
}

